<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Website</title>
    <!-- <link rel="stylesheet" href="./styles.css"> -->

</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#education">Education</a></li>
                <li><a href="#experience">Experience</a></li>
                <li><a href="#skills">Skills</a></li>
                <li><a href="#certificates">Certificates</a></li>
            </ul>
        </nav>
    </header>
    
    <section id="home" class="section">
        <h1>SAI SRIKAR MEDA</h1>
        <p>medasrikar&#64;gmail.com | +4407768667573 | Bath, BA2 1EZ</p>

        <div class="links">
            <a href="https://www.linkedin.com/in/sai-srikar-meda-9a66a6157/">LinkedIn</a>
            <a href="https://github.com/sai2617/">GitHub</a>
        </div>
    </section>

    <section id="about" class="section">
        <h2>Objective</h2>
        <p>A highly motivated Software Engineer with over 2 years of hands-on experience in full-stack development, DevOps, and cloud technologies. Good at adapting to new technologies seamlessly and leveraging acquired skills to pioneer innovation and propel organizational growth.</p>
    </section>

    <section id="education" class="section">
      <h2>Education</h2>
      
      <div class="education-entry">
          <h3>Masters in Computer Science</h3>
          <p>October 2022 – November 2023</p>
          <p>University of Bath, Bath, United Kingdom</p>
          <ul>
              <li>Completed multiple modules and developed a collaborative note-taking web application from scratch using Angular, Spring Boot, and MySQL.</li>
              <li>Implemented GitHub and Jenkins testing, and AWS web services to push the code.</li>
          </ul>
      </div>
  
      <div class="education-entry">
          <h3>Information Technology, Bachelor in Technology</h3>
          <p>July 2016 - May 2020</p>
          <p>SASTRA University, Thanjavur, India</p>
          <ul>
              <li>Learned multiple modules like programming, Algorithms, Data Structures and Mathematics, Operating Systems, Networks, and Software Engineering.</li>
          </ul>
      </div>
  </section>
  

  <section id="experience" class="section">
    <h2>Professional Experience</h2>

    <div class="experience-entry">
        <h3>Infosys Ltd, India</h3>
        <p>Senior Systems Engineer</p>
        <p>February 2022 - July 2022</p>
        <ul>
            <li>Significantly reduced the deployment time by optimizing the processes and setting up CI/CD pipelines in Jenkins.</li>
            <li>Hands-on experience in spinning off EC2 instances, Internet gateways, subnets, etc., in AWS using Terraform.</li>
            <li>Monitored server health using Grafana and ELK stack.</li>
            <li>Diagnosed server issues and managed them using Linux, through SuperPuTTY.</li>
        </ul>
    </div>

    <div class="experience-entry">
        <h3>Infosys Ltd, India</h3>
        <p>Systems Engineer</p>
        <p>October 2020 - February 2022</p>
        <ul>
            <li>Worked on developing a web app tailored for elementary management system in the networking domain using Angular and Spring Boot.</li>
            <li>Successfully completed SAFe Agile training (Internal).</li>
        </ul>
    </div>

    <div class="experience-entry">
        <h3>Infosys Ltd, India</h3>
        <p>Systems Engineer Intern</p>
        <p>December 2019 - March 2020</p>
        <ul>
            <li>Played the role of Full Stack Developer in building a mutual fund web application using React, Node.js, and MongoDB.</li>
            <li>Took the responsibility of Scrum Master as well.</li>
        </ul>
    </div>

    <div class="experience-entry">
        <h3>Tagine Zhor</h3>
        <p>Kitchen Assistant (Part-Time)</p>
        <p>October 2022 - January 2023</p>
        
    </div>

    <div class="experience-entry">
        <h3>Caffe Nero</h3>
        <p>Shift-Leader (Part-Time)</p>
        <p>January 2023 - Present</p>
        <ul>
            <li>Experience in welcoming and serving customers, managing the store, and being a team player. This has helped me develop my skills and balance my studies and part-time work effectively.</li>
        </ul>
    </div>
</section>


<section id="skills" class="section">
  <h2>Skills</h2>

  <div class="skill-category">
      <h3>Programming Languages</h3>
      <ul>
          <li>C++</li>
          <li>Java</li>
          <li>Python</li>
          <li>SQL</li>
          <li>Linux</li>
      </ul>
  </div>

  <div class="skill-category">
      <h3>Web Technologies</h3>
      <ul>
          <li>Angular</li>
          <li>React</li>
          <li>Spring Boot</li>
          <li>HTML</li>
          <li>CSS</li>
          <li>JavaScript/TypeScript</li>
      </ul>
  </div>

  <div class="skill-category">
      <h3>DevOps and Cloud Technologies</h3>
      <ul>
          <li>Jenkins</li>
          <li>Terraform</li>
          <li>Docker</li>
          <li>Git</li>
          <li>AWS</li>
      </ul>
  </div>

  <div class="skill-category">
      <h3>Project Management Tools</h3>
      <ul>
          <li>Jira</li>
          <li>Confluence</li>
          <li>Git</li>
      </ul>
  </div>

  <div class="skill-category">
      <h3>SDLC</h3>
      <ul>
          <li>Agile</li>
          <li>Waterfall Methodologies</li>
      </ul>
  </div>
</section>

<section id="certificates" class="section">
  <h2>Certificates</h2>

  <ul>
      <li>IBM Data Science Professional Certificate, Coursera</li>
      <li>BSNL Telecom Internship</li>
      <li>AWS for beginners and DevOps for beginners, Great Learning</li>
      <li>Introduction to Front End Development, Simplilearn</li>
      <li>Angular for Beginners, Intermediate and Advanced, Great Learning</li>
  </ul>

  <h4>Additional Achievements:</h4>
  <ul>
      <li>Active participation in NSS (National Service Scheme)</li>
      <li>Coordinator in our University technical fest DAKSH</li>
  </ul>
</section>


    <footer>
        <p>&copy; 2024 Sai Srikar Meda</p>
    </footer>
</body>
</html>
